body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #B4D9D5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    position: relative;
    padding-bottom: 60px;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #367373;
    height: 50px;
    align-items: center;
    width: 100%;
}

header a {
    text-decoration: none;
    color: white;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #367373;
    color: white;
    height: 60px;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

.titulo {

    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    color: white;
    margin: 0px 50px;
    background-color: #50B4BF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.campo {
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.buttons button {
    background-color: #50B4BF;
    border: 1px #367373 solid;
    border-radius: 5px;
    width: 100px;
    margin: 5px;
    color: white;
}

input,
select {
    border: solid #50B4BF 2px;
    border-radius: 5px;
}

.container {}

.separacao {
    padding: 0px 30px;
}

.registros {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    text-align: center;
}

.item {
    border: #367373 solid 2px;
}

.cardRegistro {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    text-align: center;
}

.divimgGlaceonCostas {
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
    overflow: visible;
}

.divimgGlaceonCostas img {
    width: 150px;
}

.glaceonFofinhaDivimg {
    overflow: visible;
    display: flex;
    width: 120px;
    border: #50B4BF solid 2px;
    align-items: end;
    justify-content: end;
    align-self: center;
}

.glaceonFofinhaDivimg img {
    margin-top: -25px;
    margin-bottom: -12px;
    width: 150px;
}
.alerta{
    top: 50%;
    border: #50B4BF 2px solid;
    border-radius: 10px;
    background-color: #b4d9d57c;
    backdrop-filter: blur(8px);
    align-self: center;
    position: absolute;
    max-width: 350px;
    min-width: 250px;
    min-height: 100px;
    height: fit-content;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.alerta button{
    margin-top: 10px;
    border-radius: 10px;
    border: #367373 2px solid;
    background-color: transparent;
    padding: 10px;
}
a {
    text-decoration: none;
}