:root {

    --teal-claro: #B4D9D5;
    --teal-escuro: #367373;

    --cor-fundo-pagina: #EBF4F4;
    --cor-fundo-card: #FFFFFF;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: #1A1A1A;
    --cor-texto-secundario: #4A4A4A;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.containerGeral {
    display: flex;
    gap: 15px;
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-escuro);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}

.containerGeral button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--teal-escuro);
    color: var(--cor-texto-claro);
    margin: 10px 0px;
}

.side-bar {
    padding: 20px;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    background-color: var(--teal-escuro);
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    color: var(--cor-texto-claro);
}

.main {
    display: flex;
    flex-direction: column;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    flex-grow: 1;
    width: auto;
}


.side-bar ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
    width: 250px;
}

.side-bar li {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.side-bar a {
    display: block;
    text-decoration: none;
    transition: 0.3s;
    color: var(--cor-texto);

}

.containerKPIS {
    display: flex;
    position: relative;
}

.KPI {
    position: relative;
    border-radius: 10px;
    margin: 20px;
    background-color: var(--cor-fundo-card);
    padding: 15px;
    box-shadow: 2px 2px 5px var(--cor-texto-secundario);
}

.containerGraficos {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#graficoDonut {
    z-index: 100;
    position: relative;
}

.glaceonFofinhaDivimg {
    margin: 0px 20px;
    overflow: visible;
    display: flex;
    width: 120px;
    border: #50B4BF solid 2px;
    border-radius: 3px;
    align-items: end;
    justify-content: end;
    align-self: center;
}

.glaceonFofinhaDivimg img {
    margin-top: -25px;
    margin-bottom: -12px;
    width: 150px;
}

.containerFormulario {
    align-self: center;
    width: 40%;
    margin: 15px;
    padding: 10px;
    background-color: var(--cor-fundo-card);
    border-radius: 10px;
    box-shadow: 2px 2px 15px var(--cor-texto-secundario);
    min-height: 520px;
}

.formulario {
    display: grid;
    grid-template-columns: 50% 50%;
}

.campo {
    padding: 10px;
    margin: 10px 0px;
    position: relative;

}

.campo input {
    padding: 10px;
    border-radius: 10px;
    color: var(--teal-escuro);
    transition: 0.2s;
    border: solid 1px var(--teal-escuro);
}

.campo input:focus {
    outline: none;
    border: solid 2px var(--teal-escuro);
}

.campo label {
    font-size: 15px;
    position: absolute;
    left: 15px;
    top: 22px;
    color: var(--cor-texto-secundario);
    background-color: var(--cor-fundo-card);
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

.campo input:focus+label,
.campo input:not(:placeholder-shown)+label {
    top: -1px;
    font-size: 12px;
    color: var(--teal-escuro);
}

.campo select {
    padding: 10px;
    border-radius: 10px;
    color: var(--teal-escuro);
    transition: 0.2s;
    border: solid 1px var(--teal-escuro);
    background-color: transparent; /* Para manter a transparência do fundo */
    appearance: none; /* Para remover o estilo padrão do select */
    width: 100%; /* Garantir que o select ocupe toda a largura */
}

.campo select:focus {
    outline: none;
    border: solid 2px var(--teal-escuro);
}

.campo label {
    font-size: 15px;
    position: absolute;
    left: 15px;
    top: 22px;
    color: var(--cor-texto-secundario);
    background-color: var(--cor-fundo-card);
    padding: 0 4px;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

.campo select:focus + label,
.campo select:not([value=""]):valid + label {
    top: -1px;
    font-size: 12px;
    color: var(--teal-escuro);
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.conteudoModal {
    background: var(--cor-fundo-card);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}
.diasSemana, .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
}
.dias span {
    padding: 10px;
    cursor: pointer;
}

.dias span:hover {
    background: #eee;
}
.diaSelecionado {
    background: #00b4a8;
    color: white;
    border-radius: 5px;
}

.gastos {
    min-height: 60px;
    margin-top: 10px;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
}
.topo-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.headerFormulario {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.headerFormulario .titulo {
    text-decoration: none;
    color: var(--teal-escuro);
    padding: 8px 0;
    position: relative;
   
}

.headerFormulario .titulo p {
    margin: 0;
}

/* Linha que aparece quando ativo */
.headerFormulario .titulo.ativo::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--teal-escuro);
    border-radius: 2px;
    transition: all 0.3s ease; 
}

/* Hover opcional */
.headerFormulario .titulo:hover {
    opacity: 0.7;
    cursor: pointer;
}


