*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

.containerGeral{
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 15px;
}

.side-bar{
    padding: 20px;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size:23px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 100vh;
}

.side-bar ul{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    gap: 20px;
}
.side-bar a{
   text-decoration: none;
}
